.grid-container {
    height: 90vmin;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grid-item {
    aspect-ratio: 1;
}

.grid-item-hovered {
    background-color: black;
}